*:focus {
  outline: none;
}

body{
  background-color:#FFF;
}

h1{
  position: fixed;/* 要素位置の基準指定 */
  z-index: 1000;/* 要素の重なりの順番 */
  width: 100%;
  top: 100%;
  padding: 0% 0%;
  text-align: center;
  font-size: 10em;
  font-family: arial;/* フォント */
  color: #FFF;
  -webkit-text-stroke: 0.03em #000;/* 縁の色 */
}

button{
  position: fixed;/* 要素位置の基準指定 */
  z-index: 1000;/* 要素の重なりの順番 */
  background-color: white;
  display: inline-block;
  padding: 0.4vw 1.2vw;
  text-decoration: none;
  top: 130%;
  color: #F0F;
  height: 10vw;
  width: 10vw;
  border: solid .12vw white;
  border-radius: 50%;
  transition: .4s;
  font-size: 1.9vw;
}


button#b2{
  left: calc(50% - 5vw);
}
button#b2:hover{
  border: solid .12vw #F0F;
  background-color: #F0F;
  color: white;
}

img{
  position: fixed;
  width:120%;
  height: auto;
  left: -12%;
}
img#i1{
  z-index: 10;
  top: 200%;
  transform:rotate(15deg);
}
img#i2{
  z-index: 15;
  top: 170%;
  transform:rotate(-10deg);
}
img#i3{
  z-index: 0;
  transform:rotate(5deg);
  top: 100%;
}
